<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\Orc.CommandLine.Tests\Orc.CommandLine.Tests.NET40\packages.config" />
  <repository path="..\src\Orc.CommandLine.Tests\Orc.CommandLine.Tests.NET45\packages.config" />
  <repository path="..\src\Orc.CommandLine\Orc.CommandLine.NET40\packages.config" />
  <repository path="..\src\Orc.CommandLine\Orc.CommandLine.NET45\packages.config" />
</repositories>