<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Catel.Core" version="4.2.0-unstable0108" targetFramework="net45" userInstalled="true" />
  <package id="Catel.Extensions.Controls" version="4.2.0-unstable0108" targetFramework="net45" userInstalled="true" />
  <package id="Catel.Fody" version="2.5.0" targetFramework="net45" userInstalled="true" />
  <package id="Catel.MVVM" version="4.2.0-unstable0108" targetFramework="net45" userInstalled="true" />
  <package id="Costura.Fody" version="1.3.3.0" targetFramework="net45" userInstalled="true" />
  <package id="Fody" version="1.28.3" targetFramework="net45" userInstalled="true" />
  <package id="ModuleInit.Fody" version="1.5.6.0" targetFramework="net45" userInstalled="true" />
  <package id="Orc.Controls" version="1.0.0-unstable0237" targetFramework="net45" userInstalled="true" />
</packages>